  <div class="wcat">
    <h3 class="serif wcat-title">{{wl_cm_title}}</h3>
    <p class="cat-intro">{{wl_cm_intro}}</p>
          <div class="wlist" id="cm-list">
        <div class="wgroup">
          <div class="g">{{g_retail}}<span class="n">43{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">サンエー浦添西海岸パルコシティ ブランドCM「SPECIAL IN YOU 沖縄版」楽曲</span><time class="yr" datetime="2026">2026</time></li>
            <li class="wrow"><span class="t">イオンモール沖縄ライカム10周年 CM BGM</span><time class="yr" datetime="2025">2025</time></li>
            <li class="wrow"><span class="t">サンエー「ナチュラフィット」CM楽曲</span><time class="yr" datetime="2025">2025</time></li>
            <li class="wrow"><span class="t">サンエー浦添西海岸パルコシティ クリスマスCM</span><time class="yr" datetime="2024">2024</time></li>
            <li class="wrow ex"><span class="t">サンエー浦添西海岸パルコシティ ナレーション（スプリング・サマー）</span><time class="yr" datetime="2024">2024</time></li>
            <li class="wrow ex"><span class="t">サンエー浦添西海岸パルコシティ「ニュー＆リニューアル」CM</span><time class="yr" datetime="2024">2024</time></li>
            <li class="wrow ex"><span class="t">サンエー浦添西海岸パルコシティ CM楽曲・ナレーション（春）</span><time class="yr" datetime="2024">2024</time></li>
            <li class="wrow ex"><span class="t">サンエー「アプリクーポン利用篇」CMコマソン</span><time class="yr" datetime="2022">2022</time></li>
            <li class="wrow ex"><span class="t">サンエー「テイクアウト篇」CMコマソン</span><time class="yr" datetime="2022">2022</time></li>
            <li class="wrow ex"><span class="t">ジャンボサンシャイン CM 歌・ガヤ音源</span><time class="yr" datetime="2022">2022</time></li>
            <li class="wrow ex"><span class="t">かねひで総合研究所 楽曲</span><time class="yr" datetime="2022">2022</time></li>
            <li class="wrow ex"><span class="t">サンエー「Edyカード」CM楽曲（サンリィちゃんバージョン）</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">サンエー サウンドロゴ（2021年版）</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">ビッグワン「安納芋」CMソング ロングバージョン</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">ビッグワン「唐船峡 童謡篇」CMソング ロングバージョン</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">リウボウストア レギュラーCM コマソン</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow ex"><span class="t">iias沖縄豊崎 サウンドロゴ</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow ex"><span class="t">サンエー浦添西海岸パルコシティ サウンドロゴ</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow ex"><span class="t">サンエー「かりゆし」CM 男性版</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">ビッグワン 店内動画コマソン</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">ビッグワン おつまみ・お菓子「マーチ」CMソング</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">OTONA FASHION PLACE ファッションショー テーマソング</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">エディオン エアコンCMソング</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">サンエー かりゆしウェアファッションショー音楽</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">サンエー「Edyカード」CM音楽（2018年版）</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">サンエー「かりゆしキャンペーン」新CM楽曲アレンジ</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">サンエー「大感謝祭」CMソング</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">ビッグワン CMソング（童謡編）2018年</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">サンエー「にこにこデー」CMソング</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">ビッグワン「安納芋」CMソング</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">サンエー「ハッピーシニアデー」CMソング</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">サンエー「旧盆スペシャル」CM楽曲</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">サンエー「Edyカード」CMコマソン</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">ベビー館 TVCMソング</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">赤峰家具 CM楽曲</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">サンエー 母の日・父の日セール オリジナルBGM</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">サンエー サウンドロゴ（2015年版）</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">メガネ1番「GWセール」TVCM・バケーションフェスタBGM</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">サンエー「かりゆし」CM楽曲</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">沖縄ファミリーマート「クリスマス」CM音楽</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">サンエー モーションロゴ サウンド</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">サンエー「ランドセル」CM楽曲</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">イオン「ぽろゆし」CMソング</span><time class="yr" datetime="2013">2013</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_food}}<span class="n">14{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">オキハム キャンペーンソング「ポキポキ」</span><time class="yr" datetime="2023">2023</time></li>
            <li class="wrow"><span class="t">ぐしけんパン「パングリー」CMコマソング<span class="award">沖縄広告賞 テレビ15秒CM部門 銅賞</span></span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow"><span class="t">ハドムフードサービス CMソング</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow"><span class="t">JAおきなわ「パイン」オリジナルソング</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">麩久寿 ラジオCM用楽曲・商品名サウンドロゴ</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">唐船島・自家製米 CMコマソン</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">ヘリオス酒造「くらゾンビ」ウチナーグチ版 ナレーション</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">ステーキハウス88 CMコマソン</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">A&amp;W TVCM・ラジオCM BGM</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">ジムキ文明堂 ラジオCMソング</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">A&amp;W「ハロウィン」WEB動画BGM</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">ステーキハウス88 求人TVCMソング</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">JA「ヒラミ８」TVCM・ラジオCMソング</span><time class="yr" datetime="2011">2011</time></li>
            <li class="wrow ex"><span class="t">泡盛「あわもえ」イメージソング「琉Q！キュン×2」</span><time class="yr" datetime="2010">2010</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_media}}<span class="n">14{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">FM沖縄「Radio dub」番組ジングル（2020年版）</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow"><span class="t">FM沖縄 Chuning Candy新番組 ジングル・BGM</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow"><span class="t">琉球放送「シャキッとi」楽曲</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow"><span class="t">FM沖縄「Radio dub」ジングル「ラジダブのテーマ2018」</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">琉球新報 TVCM・ラジオCM BGM（2017年版）</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">琉球新報 CM BGM（テクノ風アレンジ）</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">ラジオ番組「いきいき健康あいらんど」ジングル</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow"><span class="t">琉球新報 TVCM・ラジオCM BGM（2016年版）<span class="award">沖縄広告賞 テレビCM15秒部門 銅賞</span></span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">琉球新報「たまりゅうちゃん」CM 尺調整・SE追加</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">琉球新報 CM オーケストラ版楽曲</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">琉球放送「ジブンジカン」「いんでないかい」テーマ曲・ジングル</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">琉球新報 CM BGM（ピアノ／エレクトロニカ版）</span><time class="yr" datetime="2013">2013</time></li>
            <li class="wrow ex"><span class="t">ラジオ番組「いきいき健康あいらんど」ジングル（2012年版）</span><time class="yr" datetime="2012">2012</time></li>
            <li class="wrow ex"><span class="t">「キャンプる〜セブン」BGM（2曲）</span><time class="yr" datetime="2012">2012</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_housing}}<span class="n">16{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">Nice不動産 CMソング</span><time class="yr" datetime="2025">2025</time></li>
            <li class="wrow"><span class="t">マルユウハウジー CMソング</span><time class="yr" datetime="2024">2024</time></li>
            <li class="wrow"><span class="t">とまとハウジング サウンドロゴ（2022年版）</span><time class="yr" datetime="2022">2022</time></li>
            <li class="wrow"><span class="t">金秀グループ CM音楽（SE・BGM）</span><time class="yr" datetime="2022">2022</time></li>
            <li class="wrow ex"><span class="t">タマキホーム「特P」サウンドロゴ</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">照正組 TVCMオリジナルソング・サウンドロゴ</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow ex"><span class="t">さかえ塗装 TVCM BGM</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">マーチ家賃保証 サウンドロゴ</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">とまとハウジング サウンドロゴ・楽曲</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">ツーワン マンションCM サウンドロゴ</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">大知建設 サウンドロゴ</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">謝花組 サウンドロゴ・ラジオCM・オリジナルソング</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">タカラ住建 CMソング</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">大知建設 新TVCM BGM（2017年）</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">大知建設 TVCM楽曲</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">プレステージホーム沖縄 サウンドロゴ</span><time class="yr" datetime="2015">2015</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_edu}}<span class="n">13{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">沖縄セントラル病院 院歌</span><time class="yr" datetime="2023">2023</time></li>
            <li class="wrow"><span class="t">いなんせ会館 CMソング</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow"><span class="t">さくらメディネス整骨院 CMソング</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow"><span class="t">サロンCELL TVCM音楽</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">沖縄大学 TVCM楽曲</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">HOT沖縄 CM BGM（ニュースアレンジ）</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">ジョブカロリ CMソング・サウンドロゴ</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">PETBOX CMソング</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">動物病院グループaniC コマソン・BGM</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">HOT沖縄 オリジナルソング</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">メディカルアシスト サウンドロゴ</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">新洋ロードドライブ ラジオCMコマソン「太平洋マーチ」</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">動物病院「vet's park 22時」CMコマソン</span><time class="yr" datetime="2015">2015</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_public}}<span class="n">15{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">沖縄清明の丘公園 OTVフィラー楽曲</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow"><span class="t">国保連合会「がんじゅうタイム」オープニング音源（2020年版）</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow"><span class="t">沖縄県立博物館・美術館「縄文と沖縄」展 CM音楽<span class="award">沖縄広告賞 テレビ15秒CM部門 銅賞</span></span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow"><span class="t">宜野座村 楽曲（2017年版）</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">沖縄県「自動車税」CMソング（2016年版）</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">宜野座村 CM BGM・ナレーション</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">国保 太鼓BGM</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">東村 PV BGM・SE</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">国保「がんじゅうタイム」番組OP・特定健診CM BGM</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">国民健康保険「被保険者証更新」CMソング</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">沖縄県「自動車税」コマソン（2015年版）</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">国保「更新」CM BGM（2014年）</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">沖縄保険者協議会 CM楽曲</span><time class="yr" datetime="2013">2013</time></li>
            <li class="wrow ex"><span class="t">南城市 PR映像 コマソング</span><time class="yr" datetime="2013">2013</time></li>
            <li class="wrow ex"><span class="t">沖縄県「自動車税」CMソング</span><time class="yr" datetime="2010">2010</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_finance}}<span class="n">11{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">Edy「Edyサン子さん」CMソング 追加収録</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow"><span class="t">沖縄労働金庫「iDeCoのうた」「ろうきんズ」TVCM</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow"><span class="t">沖縄労働金庫「iDeCo」ラジオCM オリジナルソング</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow"><span class="t">沖縄銀行 CM「苗」BGM</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">協同組合 企業福祉共済会 サウンドロゴ</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">沖縄労働金庫 CM「ミュージカル編」楽曲</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">コザ信用金庫「きいやま商店50周年」CMソング</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">沖縄銀行 ラジオCM サウンドロゴ</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">コザ信用金庫 CMソング「ジンがねーらん」</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">琉球銀行 TVCM「琉銀中」CMソング</span><time class="yr" datetime="2012">2012</time></li>
            <li class="wrow ex"><span class="t">琉球銀行「ATM48キャンペーン」CMソング</span><time class="yr" datetime="2011">2011</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_infra}}<span class="n">13{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">沖縄電力「アタビーのうた」シティポップアレンジ</span><time class="yr" datetime="2025">2025</time></li>
            <li class="wrow"><span class="t">沖縄電力 CMソング（2025年）</span><time class="yr" datetime="2025">2025</time></li>
            <li class="wrow"><span class="t">沖縄電力 CMジングル（2024年）</span><time class="yr" datetime="2024">2024</time></li>
            <li class="wrow"><span class="t">auショップ ブランディングCMソング（2024年）</span><time class="yr" datetime="2024">2024</time></li>
            <li class="wrow ex"><span class="t">りゅうせき TVCM BGM</span><time class="yr" datetime="2022">2022</time></li>
            <li class="wrow ex"><span class="t">auショップ「かんたん予約」TVCM BGM・SE</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">au沖縄セルラー電話×A&amp;W「森のくまさん」BGM</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">au×沖縄ファミリーマート コラボCM BGM「十九の春」</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">au沖縄セルラー電話「春CM」楽曲（2曲）</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">au沖縄セルラー電話「auパラダイスネット」ジングル</span><time class="yr" datetime="2014">2014</time></li>
            <li class="wrow ex"><span class="t">au沖縄セルラー電話「夏キャンペーン」CMソング</span><time class="yr" datetime="2013">2013</time></li>
            <li class="wrow ex"><span class="t">au沖縄セルラー電話 TVCMソング「サクサク Love TEnsion」</span><time class="yr" datetime="2012">2012</time></li>
            <li class="wrow ex"><span class="t">au沖縄セルラー電話「夏市音頭」ラジオCM</span><time class="yr" datetime="2010">2010</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_auto}}<span class="n">3{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">ユーポス CM「護得久のズンドコ篇」楽曲</span><time class="yr" datetime="2023">2023</time></li>
            <li class="wrow"><span class="t">沖縄ホンダ「やっぱりホンダ」CMソング</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow"><span class="t">沖縄ホンダ「まるまるセット」CM楽曲（TEMPURA KIDZ起用）<span class="note">琉球新報「沖縄CMものがたり」で紹介</span></span><time class="yr" datetime="2016">2016</time></li>
          </ul>
        </div>
        <div class="wgroup">
          <div class="g">{{g_other}}<span class="n">19{{count_suffix}}</span></div>
          <ul>
            <li class="wrow"><span class="t">『Fate/Grand Order』 CMソング アレンジサポート（2025年）</span><time class="yr" datetime="2025">2025</time></li>
            <li class="wrow"><span class="t">『Fate/Grand Order』水着イベント TV-CM楽曲</span><time class="yr" datetime="2023">2023</time></li>
            <li class="wrow"><span class="t">sity サウンドロゴ</span><time class="yr" datetime="2022">2022</time></li>
            <li class="wrow"><span class="t">奏ホールディングス サウンドロゴ</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">善林堂 CMソング</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">ワンダーリューキュー 公式サイト用オリジナル楽曲</span><time class="yr" datetime="2021">2021</time></li>
            <li class="wrow ex"><span class="t">楽ラック TVCM楽曲・サウンドロゴ</span><time class="yr" datetime="2020">2020</time></li>
            <li class="wrow ex"><span class="t">RCワークス 企業サウンドロゴ</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">テラ・ウェブクリエイト サウンドロゴ</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">オフィス伊藤 CMソング</span><time class="yr" datetime="2019">2019</time></li>
            <li class="wrow ex"><span class="t">ワコー貿易 CMインストBGM</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">ALLSTAR サウンドロゴ</span><time class="yr" datetime="2018">2018</time></li>
            <li class="wrow ex"><span class="t">ワーキングショップ CMソング</span><time class="yr" datetime="2017">2017</time></li>
            <li class="wrow ex"><span class="t">財全グループ サウンドロゴ</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">エムズグループ オリジナルソング（エムズガーデン CMソング）</span><time class="yr" datetime="2016">2016</time></li>
            <li class="wrow ex"><span class="t">パシフィックホテル沖縄「月の砂漠」CM音楽</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">トイファクトリー プロモーション映像 BGM・SE</span><time class="yr" datetime="2015">2015</time></li>
            <li class="wrow ex"><span class="t">東京第一ホテル沖縄「島割」TVCM・ラジオCM コマソング</span><time class="yr" datetime="2013">2013</time></li>
            <li class="wrow ex"><span class="t">日本ウエストン 社歌</span><time class="yr" datetime="2012">2012</time></li>
          </ul>
        </div>
      </div>
      <button class="wl-more" type="button" data-target="cm-list" aria-controls="cm-list" aria-expanded="false" hidden>{{wl_more}}</button>
  </div>

  <div class="wcat work-tiles">
    <h3 class="serif wcat-title">{{wl_space_title}}</h3>
    <p class="cat-intro">{{wl_space_intro}}</p>
    <div class="wlist" id="space-list">
      <ul class="wflat">
        <li class="wrow"><span class="t">OKINAWA JAPAN VIRTUAL FES（OKIVFES）VRライブ 音楽編集・サウンドデザイン</span><time class="yr" datetime="2023">2023—2024</time></li>
        <li class="wrow"><span class="t">DMMかりゆし水族館 シアタールーム投影用BGM（4.0chサラウンド）</span><time class="yr" datetime="2022">2022</time></li>
        <li class="wrow"><span class="t">DMMかりゆし水族館 はいさいプラザ プロジェクション映像音楽</span><time class="yr" datetime="2022">2022</time></li>
        <li class="wrow"><span class="t">DMMかりゆし水族館 Music SAKA-Bar ジングル3本</span><time class="yr" datetime="2021">2021</time></li>
        <li class="wrow"><span class="t">東南植物楽園 イルミネーションBGM</span><time class="yr" datetime="2018">2018</time></li>
        <li class="wrow"><span class="t">カヌチャリゾート 館内案内ビデオBGM</span><time class="yr" datetime="2013">2013</time></li>
        <li class="wrow"><span class="t">沖縄観光コンベンションビューロー 映像BGM</span><time class="yr" datetime="2012">2012</time></li>
      </ul>
      </div>
  </div>

  <div class="wcat work-tiles">
    <h3 class="serif wcat-title">{{wl_game_title}}</h3>
    <p class="cat-intro">{{wl_game_intro}}</p>
    <div class="wlist" id="game-list">
      <ul class="wflat">
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/double-dragon-revive/">Double Dragon Revive</a></span><time class="yr" datetime="2025">2025</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/sk8-the-infinity/">SK∞ エスケーエイト</a></span><time class="yr" datetime="2021">2021</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/fate-grand-order/">Fate/Grand Order</a></span><time class="yr" datetime="2021">2021</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/kingdom-dash/">キングダム DASH!!</a></span><time class="yr" datetime="2021">2021</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/bofuri-line-wars/">痛いのは嫌なので防御力に極振りしたいと思います。～らいんうぉーず！～</a></span><time class="yr" datetime="2020">2020</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/bokuben-study/">ぼくたちは勉強ができない（Study 主題歌）</a></span><time class="yr" datetime="2019">2019</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/indivisible/">Indivisible</a></span><time class="yr" datetime="2019">2019</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/blazblue-cross-tag-battle/">BLAZBLUE CROSS TAG BATTLE</a></span><time class="yr" datetime="2018">2018</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/saiki-k-psi-kick-battle/">斉木楠雄のΨ難 妄想暴走!Ψキックバトル</a></span><time class="yr" datetime="2018">2018</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/okinawa-no-kowai-hanashi/">オキナワノコワイハナシ 劇伴（TVドラマシリーズ）</a></span><time class="yr" datetime="2016">2016</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/dengeki-bunko-fighting-climax/">電撃文庫 FIGHTING CLIMAX</a></span><time class="yr" datetime="2014">2014</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/crayon-shin-chan-kasukabe-runner/">クレヨンしんちゃん 嵐を呼ぶ炎のカスカベランナー!!</a></span><time class="yr" datetime="2014">2014</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/under-night-in-birth/">UNDER NIGHT IN-BIRTH シリーズ</a></span><time class="yr" datetime="2012">2012</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/cutie-honey-the-live/">キューティーハニー THE LIVE</a></span><time class="yr" datetime="2008">2008</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/lucky-star/">らき☆すた</a></span><time class="yr" datetime="2007">2007</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/higurashi-image-albums/">ひぐらしのなく頃に イメージアルバム</a></span><time class="yr" datetime="2006">2006</time></li>
        <li class="wrow"><span class="t"><a href="https://raito.studio/ja/works/melty-blood/">MELTY BLOOD シリーズ</a></span><time class="yr" datetime="2003">2003</time></li>
      </ul>
      </div>
  </div>
